#middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game-canvas {
    border: 1px solid #aaaaaa;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0.5em;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    opacity: 0.4;
    z-index: 1;
}

span {
    font-family: sans-serif;
    font-size: 10pt;
    opacity: 0.5;
    color: #000000;
}

span a, span a:visited {
    color: inherit;
}